<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-default">
      <form class="panel-body p-30" id="form-contact-us" data-ng-submit="login(credentials)" novalidate>
        <div class="row">
          <div class="col-md-6">
            <h2 class="mt-0">How may we help you?</h2>
            <div class="radio">
              <label>
                <input type="radio" name="type"> training request
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="type"> help with settings/email alert
              </label>
            </div><!-- .radio -->
            <div class="radio">
              <label>
                <input type="radio" name="type"> other
              </label>
            </div><!-- .radio -->
            <div class="form-group">
              <textarea class="form-control" placeholder="additional message..."></textarea>
            </div><!-- .form-group -->
          </div><!-- .col-md-6 -->

          <div class="col-md-6">
            <h2 class="mt-0">your contact info</h2>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pl-0">company</span>
                <input type="text" class="form-control input-sm">
              </div><!-- .input-group -->
            </div><!-- .form-group -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pl-0">first name</span>
                <input type="text" class="form-control input-sm">
              </div><!-- .input-group -->
            </div><!-- .form-group -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pl-0">last name</span>
                <input type="text" class="form-control input-sm">
              </div><!-- .input-group -->
            </div><!-- .form-group -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pl-0"><i class="fa fa-envelope-o fa-fw"></i></span>
                <input type="email" class="form-control input-sm">
              </div><!-- .input-group -->
            </div><!-- .form-group -->
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon pl-0"><i class="fa fa-phone fa-fw"></i></span>
                <input type="tel" class="form-control input-sm">
              </div><!-- .input-group -->
            </div><!-- .form-group -->
          </div><!-- .col-md-6 -->
        </div><!-- .row -->
      </form>
      <div class="panel-footer text-right">
        <input type="submit" class="btn btn-primary" value="send" form="form-contact-us">
      </div><!-- .panel-footer -->
    </div><!-- .panel -->
  </div>
  <div class="col-sm-3 col-sm-offset-1">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0">contact info</h2>
        <strong>e.Republic, Inc.</strong>
        <div class="media mt-0">
          <div class="media-left">
            <i class="fa fa-map-marker fa-fw"></i>
          </div><!-- .media-left -->
          <div class="media-body">
            <a href="https://www.google.com/maps/place/100+Blue+Ravine+Rd,+Folsom,+CA+95630" target="_blank">
              100 Blue Ravine Road
              <br>
              Folsom, CA 95630
            </a>
          </div><!-- .media-body -->
        </div><!-- .media -->
        <div class="media">
          <div class="media-left">
            <i class="fa fa-phone fa-fw"></i>
          </div><!-- .media-left -->
          <div class="media-body"><a href="tel:8005981377">800-598-1377</a></div><!-- .media-body -->
        </div><!-- .media -->
        <div class="media">
          <div class="media-left">
            <i class="fa fa-envelope-o fa-fw"></i>
          </div><!-- .media-left -->
          <div class="media-body"><a href="mailto:memberservices@erepublic.com">memberservices@erepublic.com</a></div><!-- .media-body -->
        </div><!-- .media -->
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-3 -->
</div><!-- .row -->
