<div class="panel-group" id="faq">

  <div class="panel">
    <div class="panel-heading" role="tab">
      <a data-toggle="collapse" data-parent="#accordion" data-target="#faq1" aria-expanded="true" aria-controls="collapseOne" class="panel-title btn-block">
        Collapsible Group Item #1
      </a>
    </div><!-- .panel-heading -->
    <div id="faq1" class="panel-collapse collapse in" role="tabpanel">
      <div class="panel-body">
        <p>
          In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
        </p>
        <p>
          Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
          congue dolorum temporibus, qui dicant intellegam ad.
        </p>
      </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->

  <div class="panel">
    <div class="panel-heading" role="tab" id="headingTwo">
      <a class="collapsed panel-title btn-block" data-toggle="collapse" data-parent="#accordion" data-target="#faq2">
        Collapsible Group Item #2
      </a>
    </div><!-- .panel-heading -->
    <div id="faq2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>
          In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
        </p>
        <p>
          Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
          congue dolorum temporibus, qui dicant intellegam ad.
        </p>
      </div><!-- .panel-body -->
    </div><!-- .panel-collapse -->
  </div><!-- .panel -->

</div><!-- .panel-group -->
