<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body p-30">
            <p>
              Eu cum primis inimicus moderatius, est alia eleifend no, has at insolens scripserit. Ea nam meis solum tacimates, sed ut suas saperet comprehensam. Id mundi partem tincidunt vim, ei dico ridens everti vel, at movet gubergren incorrupte pri. Soluta forensibus ut vix.
            </p>
            <p>
              Eam mucius utamur et. Duo insolens democritum definitiones ad, harum sadipscing no mea. At nominati gubergren mea. Singulis argumentum per no, usu at facilisis vituperatoribus. Mucius percipitur ei mea.
            </p>
            <p>
              In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
            </p>
            <p>
              Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
              congue dolorum temporibus, qui dicant intellegam ad.
            </p>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">customize your dashboard</h3>
          </div><!-- .panel-heading -->
          <div class="panel-body embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/kdqSg6dMySI?version=3&autohide=1&rel=0&showinfo=0&theme=light"></iframe>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->
    </div><!-- .row -->

  </div><!-- .col-md-6 -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body p-30">
            <p>
              Eu cum primis inimicus moderatius, est alia eleifend no, has at insolens scripserit. Ea nam meis solum tacimates, sed ut suas saperet comprehensam. Id mundi partem tincidunt vim, ei dico ridens everti vel, at movet gubergren incorrupte pri. Soluta forensibus ut vix.
            </p>
            <p>
              Eam mucius utamur et. Duo insolens democritum definitiones ad, harum sadipscing no mea. At nominati gubergren mea. Singulis argumentum per no, usu at facilisis vituperatoribus. Mucius percipitur ei mea.
            </p>
            <p>
              In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
            </p>
            <p>
              Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
              congue dolorum temporibus, qui dicant intellegam ad.
            </p>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">customize your dashboard</h3>
          </div><!-- .panel-heading -->
          <div class="panel-body embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/kdqSg6dMySI?version=3&autohide=1&rel=0&showinfo=0&theme=light"></iframe>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->
    </div><!-- .row -->
  </div><!-- .col-md-6 -->
</div><!-- .row -->

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">customize your dashboard</h3>
          </div><!-- .panel-heading -->
          <div class="panel-body embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/kdqSg6dMySI?version=3&autohide=1&rel=0&showinfo=0&theme=light"></iframe>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body p-30">
            <p>
              Eu cum primis inimicus moderatius, est alia eleifend no, has at insolens scripserit. Ea nam meis solum tacimates, sed ut suas saperet comprehensam. Id mundi partem tincidunt vim, ei dico ridens everti vel, at movet gubergren incorrupte pri. Soluta forensibus ut vix.
            </p>
            <p>
              Eam mucius utamur et. Duo insolens democritum definitiones ad, harum sadipscing no mea. At nominati gubergren mea. Singulis argumentum per no, usu at facilisis vituperatoribus. Mucius percipitur ei mea.
            </p>
            <p>
              In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
            </p>
            <p>
              Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
              congue dolorum temporibus, qui dicant intellegam ad.
            </p>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->
    </div><!-- .row -->

  </div><!-- .col-md-6 -->
  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">customize your dashboard</h3>
          </div><!-- .panel-heading -->
          <div class="panel-body embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/kdqSg6dMySI?version=3&autohide=1&rel=0&showinfo=0&theme=light"></iframe>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body p-30">
            <p>
              Eu cum primis inimicus moderatius, est alia eleifend no, has at insolens scripserit. Ea nam meis solum tacimates, sed ut suas saperet comprehensam. Id mundi partem tincidunt vim, ei dico ridens everti vel, at movet gubergren incorrupte pri. Soluta forensibus ut vix.
            </p>
            <p>
              Eam mucius utamur et. Duo insolens democritum definitiones ad, harum sadipscing no mea. At nominati gubergren mea. Singulis argumentum per no, usu at facilisis vituperatoribus. Mucius percipitur ei mea.
            </p>
            <p>
              In mea quidam aliquip definiebas, delectus dissentias reformidans ut sea, dico euripidis eam ei. Mel no veri qualisque aliquando. Eu per noster luptatum, tamquam propriae an vel. Id usu persius sensibus, in quot minimum neglegentur sed.
            </p>
            <p>
              Duo doctus persecuti accommodare cu, et sit eripuit urbanitas, persequeris accommodare consectetuer has ut. Eum latine delectus repudiandae ad, dolor pertinacia ad his, vidit graece appetere pri an. Vim ad placerat euripidis, ex qui euismod intellegebat. Id vix
              congue dolorum temporibus, qui dicant intellegam ad.
            </p>
          </div><!-- .panel-body -->
        </div><!-- .panel -->
      </div><!-- .col-md-6 -->
    </div><!-- .row -->
  </div><!-- .col-md-6 -->
</div><!-- .row -->
