<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0">market alerts</h2>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-12 -->
</div><!-- .row -->

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0">saved searches</h2>
        <ul class="list-unstyled mb-0">
          <li data-ng-repeat="search in savedSearches">
            <a href="{{ search.uri }}">{{ search.title }}</a>
          </li>
        </ul>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div>
</div><!-- .row -->

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0">favorites</h2>
        <ul class="list-unstyled mb-0">
          <li data-ng-repeat="favorite in favorites">
            <a href="{{ favorite.item_id }}">{{ favorite.item_table }}</a>
          </li>
        </ul>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-12 -->
</div><!-- .row -->
