<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <form class="panel-body" name="form-login" data-ng-submit="login(credentials)" data-ng-controller="login">
        <h1 class="mt-0">login</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="email" data-ng-model="credentials.email" autofocus required>
            </div><!-- .form-group -->
          </div><!-- .col-sm-6 -->
          <div class="col-md-6">
            <div class="form-group">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password" data-ng-model="credentials.password" required>
                <span class="input-group-btn">
                  <a href="#" class="btn btn-default"><i class="fa fa-eye"></i></a>
                </span>
              </div><!-- .input-group -->
            </div><!-- .form-group -->
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-md-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember_me" value="1"> remember me on this device
              </label>
            </div><!-- .checkbox -->
          </div><!-- .col-md-12 -->
        </div><!-- .row -->
        <div class="row">
          <div class="col-xs-6">
            <a href="#modal-forgot-password" data-toggle="modal" class="btn btn-link pl-0">forgot password</a>
          </div><!-- .col-md-6 -->
          <div class="col-xs-6 text-right">
            <button type="submit" class="btn btn-primary" title="Sign In"><i class="fa fa-sign-in fa-fw"></i> Log In</button>
          </div><!-- .col-md-6 -->
        </div><!-- .row -->
      </form><!-- .panel-body -->
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-6">
            <em>Not a member?</em>
            <br>
            <a href="#modal-request-demo" data-toggle="modal">request a free demo</a>
          </div><!-- .col-sm-6 -->
          <div class="col-sm-6">
            <em>Already a member?</em>
            <br>
            <a href="#modal-request-login" data-toggle="modal">request a login for an existing account</a>
            <br>
            <a href="#modal-contact" data-toggle="modal">contact member services</a>
          </div><!-- .col-sm-6 -->
        </div><!-- .row -->
      </div><!-- .panel-footer -->
    </div><!-- .panel -->
  </div><!-- .col-sm-6 -->
</div><!-- .row -->
