body {
  background-color: #f2f2f2;
  padding-bottom: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
}

/*btn / buttons*/
.btn-link {
  text-transform: none;
}

/*navbar*/
.navbar {
  border-radius: 0;
}
.navbar li>a {
  font-size: 16px;
}

/*panel*/
.panel-heading, .panel-body, .panel-footer {
  padding: 30px;
}
