body {
  /*padding-bottom: 50px;*/
}

.bg-gray, .bg-grey {
  background-color: #eee;
}

/* footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
} */

/*btn / buttons*/
.btn-link {
  text-transform: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  text-decoration: underline;
}

/*navbar*/
.navbar {
  border-radius: 0;
}
.navbar li>a {
  font-size: 16px;
}

/*panel*/
.panel .table-responsive>.table tr th:first-child, .panel>.table-responsive>.table tr td:first-child {
  padding-left: 15px;
}
.panel .table-responsive>.table tr th:last-child, .panel>.table-responsive>.table tr td:last-child {
  padding-right: 15px;
}

/*media*/
.media strong {
  font-weight: 300;
}

thead>tr>th {
  letter-spacing: 1.7px;
}


.ng-hide {
  display: none !important;
}
