body {
  /*padding-bottom: 50px;*/
}

.bg-gray, .bg-grey {
  background-color: #eee;
}

/* footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
} */

/*btn / buttons*/
.btn-link {
  text-transform: none;
}
.btn-link:hover, .btn-link:focus, .btn-link:active {
  text-decoration: underline;
}

/*checkbox & radio*/
input[type=checkbox]:checked:after {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

/*radio*/
input[type=radio]:checked:before {
  background-color: #4caf50 !important;
}
input[type=radio]:checked:after {
  border-color: #4caf50 !important;
}



/*navbar*/
.navbar {
  border-radius: 0;
}
.navbar li>a {
  font-size: 16px;
}

/*panel*/
.panel .table-responsive>.table tr th:first-child, .panel>.table-responsive>.table tr td:first-child {
  padding-left: 15px;
}
.panel .table-responsive>.table tr th:last-child, .panel>.table-responsive>.table tr td:last-child {
  padding-right: 15px;
}

/*progress*/
.progress {
  border-radius: 3px;
  min-height: 21px;
}

/*media*/
.media strong {
  font-weight: 300;
}

thead>tr>th {
  letter-spacing: 1.7px;
}


.ng-hide {
  display: none !important;
}


/*social*/
.facebook {
  background-color: #3B5998;
}

.google-plus {
  background-color: #dd4b39;
}

.linkedin {
  background-color: #0077b5;
}

.twitter {
  background-color: #55acee;
}

.facebook, .google-plus, .linkedin, .twitter {
  color: white;
}
.btn.facebook, .btn.google-plus, .btn.linkedin, .btn.twitter {
  text-transform: none;
  color: white;
}
.btn.sharepoint {
  text-transform: none;
}
.btn.facebook:hover {
  background-color: #2d4373;
}
.btn.google-plus:hover {
  background-color: #c23321;
}
.btn.linkedin:hover {
  background-color: #005582;
}
.btn.twitter:hover {
  background-color: #2795e9;
}
