<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">first name</span>
          <input type="text" class="form-control input-sm">
        </div><!-- .input-group -->
      </div><!-- .form-group -->

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">last name</span>
          <input type="text" class="form-control input-sm">
        </div><!-- .input-group -->
      </div><!-- .form-group -->

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">title</span>
          <input type="text" class="form-control input-sm">
        </div><!-- .input-group -->
      </div><!-- .form-group -->

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">email</span>
          <input type="email" class="form-control input-sm">
        </div><!-- .input-group -->
      </div><!-- .form-group -->

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">phone</span>
          <input type="tel" class="form-control input-sm">
        </div><!-- .input-group -->
      </div><!-- .form-group -->

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon pl-0">password</span>
          <input type="email" class="form-control input-sm">
          <span class="input-group-btn">
            <a href="javascript:void(0)" class="btn btn-default btn-sm">change</a>
          </span>
        </div><!-- .input-group -->
      </div><!-- .form-group -->

    </form>

    <div class="well well-sm" style="word-wrap:break-word">
      <h5 class="m-0">JSON feed url</h5>
      http://www.governmentnavigator.com/bidfeed?email=nbockoven@erepublic.com&token=201f00b5ca5d65a1c118e5e32431514c
    </div><!-- .well -->
  </div><!-- .col-md-6 -->
</div><!-- .row -->
