<div class="row">
  <div class="col-sm-7">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h1 class="mt-0">{{ contact.first_name }} {{ contact.last_name }}</h1>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-7 -->
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0"><i class="fa fa-twitter fa-fw"></i> Twitter Feed</h2>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0"><i class="fa fa-bullhorn fa-fw"></i> Market Alerts</h2>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
    <div class="panel panel-default">
      <div class="panel-body p-30">
        <h2 class="mt-0"><i class="fa fa-newspaper-o fa-fw"></i> News</h2>
      </div><!-- .panel-body -->
    </div><!-- .panel -->
  </div><!-- .col-sm-5 -->
</div><!-- .row -->
