<div class="row mb-20">
  <div class="col-sm-3">
    <div class="btn-group btn-group-justified">
      <a data-ui-sref="search" class="btn btn-info">reset</a>
      <a data-ui-sref="search" class="btn btn-primary">save</a>
    </div><!-- .btn-group -->
  </div>

  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a data-target="#bids" data-toggle="tab">Opportunities <small>(10,201)</small></a></li>
      <li><a data-target="#market-alerts" data-toggle="tab">Market Alerts</a></li>
      <li><a data-target="#orgs" data-toggle="tab">Jurisdictions</a></li>
      <li><a data-target="#contacts" data-toggle="tab">Contacts</a></li>
      <li><a data-target="#media-docs" data-toggle="tab">Documents & Media</a></li>
    </ul>
  </div>
</div><!-- .row -->

<div class="tab-content">
  <!-- opportunities -->
  <div class="tab-pane active" id="bids">
    <div class="row">
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">Status</span>
          </div><!-- .panel-heading -->
          <ul class="list-group">
            <li class="list-group-item">Open</li>
            <li class="list-group-item">Closed</li>
            <li class="list-group-item">Awarded</li>
          </ul>
        </div><!-- .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">Type</span>
          </div><!-- .panel-heading -->
          <ul class="list-group">
            <li class="list-group-item">RFP</li>
            <li class="list-group-item">Pre-RFP</li>
            <li class="list-group-item">Erate</li>
            <li class="list-group-item">Developing Opportunities</li>
          </ul>
        </div><!-- .panel -->
      </div>

      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span class="panel-title">Results</span>
          </div><!-- .panel-heading -->
          <div class="panel-body" data-ng-hide="results.length">
            <div class="well well-sm">No results found.</div>
          </div><!-- .panel-body -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width:10px"></th>
                  <th>Type</th>
                  <th>Title</th>
                  <th>Published</th>
                  <th>Due</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="result in results">
                  <td><i class="fa fa-star-o fa-fw text-warning"></i></td>
                  <td>{{ result.type }}</td>
                  <td><a href="#">{{ result.title }}</a></td>
                  <td>{{ result.pub_date }}</td>
                  <td>{{ result.due_date }}</td>
                </tr>
              </tbody>
            </table>
          </div><!-- .table-responsive -->
          <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="result in results">
              <div class="media">
                <div class="media-left">
                  <i class="fa fa-star-o fa-fw text-warning"></i>
                </div><!-- .media-left -->
                <div class="media-body">
                  <a href="#"><strong>{{ result.title }}</strong></a> <small class="text-muted">&mdash; {{ result.type }}</small>
                  <br>
                  <ul class="list-inline">
                    <li data-ng-show="result.pub_date"><strong>Published:</strong> {{ result.pub_date }}</li>
                    <li data-ng-show="result.pub_date"><strong>Due:</strong> {{ result.due_date }}</li>
                  </ul>
                  <p class="mb-0">{{ result.description }}<a href="#">...</a></p>
                </div><!-- .media-body -->
              </div><!-- .media -->
            </li>
          </ul>
        </div><!-- .panel -->
      </div>
    </div><!-- .row -->
  </div><!-- .tab-pane -->

</div><!-- .tab-content -->
